// http://mcg.mbitson.com/#!?mcgpalette0=%231693a5&mcgpalette1=%23ffb900&mcgpalette2=%23e85205&themename=study

$primary-color: #1693A5;
$primary-color-dark: #FFB900;
$secondary-color: #02AAB0;
$third-color: #FFFFFF;

$black: #000000;
$white: #FFFFFF;

$padding-container: 40px;
$margin-basic: 20px;
