body{
  font-family: Arial, sans-serif;
  background-color: $third-color;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

.library-container {
  display: flex;
}

.home-container {
  display: flex;
}
