.button, button {
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background-color: $secondary-color;
  color: $white;
}

.button:hover, button:hover {
  background: darken($secondary-color, 10%);
}
