.deck-edit {
  padding: $padding-container;
  padding-top: $padding-container*3;
  width: 80%;
  margin: 0 auto;

  h1 {
    font-size: 2em;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 7px;

  }

}

.card-index-item {
  padding: $margin-basic;
  margin-top: $margin-basic;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;

  h5 {
    margin: 10px;
    margin-left: 0;
  }

  button {
    margin-left: auto;
  }
}

.card-form-buttons {
  margin-left: auto;
}

.card-question {
  width: 200px;
  padding: $margin-basic;
  margin-right: $margin-basic * 2;

  input[type="text"]{
    background-color: $background-color;
    width: 100%;
    padding: 10px;
  }
}

.card-answer, .card-question {
  width: 40%;
  min-width: 300px;

  img {
    max-width: 200px;
    max-height: 200px;
  }
}

.card-answer {
  border-left: 2px solid $darker-background;
  padding: $margin-basic;
  padding-left: $margin-basic * 2;
}

textarea.card-input{
  overflow: auto;
  background-color: $background-color;
  width: 100%;
  padding: 10px;
}

.deck-form-container {
  select {
    margin: 10px;
    height: 30px;
    font-size: 14px;
  }

  input[type="text"]{
    margin: 0 20px;
    border-bottom: 1px solid $darker-background;
  }
}

.deck-study {
  display: block;
  color: $primary-color;
  font-size: 1em;
  &:hover {
    text-decoration: underline;
  }
}
