.header-container{
  padding: 0 20px;
  background-color: $primary-color;
  position: fixed;
  width: 100%;
  border-bottom: 3px solid $secondary-color;
  z-index: 2;
}

.signin-buttons, .signout-button{
  float: right;
}

.logo, .header-links{
  float: left;
}
