.search-index {
  width: 60%;
  margin: 0 auto;
  padding-top: $padding-container * 2;
  max-height: 100vh;
  overflow: scroll;
}

.search-index-item {
  padding: $margin-basic;
  margin: $margin-basic;
  background-color: $white;
  border-radius: 5px;

  h2 {
    display: inline;
  }

  button {
    float: right;
    margin-top: 5px;
  }
}

.search-container h1 {
  color: $white;
}

.search-form {
  margin: 0;
  input[type="text"]{
    background-color: $light-primary-color;
  }
}

.show-details {
  display: block;
}

.hide-details {
  display: none;
}

.toggle-details {
  color: $primary-color;
  &:hover{
    text-decoration: underline;
  }
}
