.signin-form-container {
  i {
    float: right;
  }

  h3 {
    text-align: center;
    margin: 10px;
  }
}

.signin-form-box {
  padding: $margin-basic;

  input[type="text"], input[type="password"]{
    background-color: $background-color;
    height: 40px;
    padding: 5px;
    margin: 10px;
    margin-bottom: $margin-basic;
    width: 100%;
  }

  label {
    margin: 10px;
  }

  span {
    color: $primary-color;
    font-weight: bold;
  }

  // button {
  //   display: block;
  //   margin: 0 auto;
  // }
  .modal-buttons {
    display: flex;
    justify-content: center;
  }
}
