.subject-show-container {
  padding: $padding-container;
  padding-top: $padding-container *2;
  width: 60%;
  margin: 0 auto;

  h1 {
    font-size: 2em;
    display: inline;
  }

  h3 {
    text-align: center;
    a {
      color: $primary-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.library-container .sidebar-container {
  padding: 0px;
  padding-top: 80px;

  h1 {
    margin: $margin-basic;
    margin-left: 40px;
  }

  .new-subject {
    margin-left: 40px;
  }

  .subject-index {
    max-height: 60vh;
    overflow: scroll;

    li {
      color: $white;
      padding: 10px 20px 10px 40px;

      &:hover{
        background-color: $light-primary-color;
      }
    }

    .selected-subject {
      background-color: $light-primary-color;
    }
  }
}

.sidebar-container {
  .subject-form {
    margin: 10px 20px 10px 40px;
    label {
      color: $white;
    }

    .form-buttons{
      text-align: right;
    }

    input[type="text"]{
      background-color: $light-primary-color;
      color: $black;
      margin-left: 10px;
      margin-right: 0;
      width: 150px;
    }
  }
}

.deck-index-item {
  margin: $margin-basic 0;
  background-color: $white;
  border-radius: 5px;
  display: block;

  &:hover {
    border: 2px solid $primary-color;
  }

  div {
    padding: $margin-basic;
  }

  h2 {
    display: inline;
  }

  .edit-deck {
    float: right;
    margin-top: -5px;
  }
}

.subject-button {
  position: relative;
  top: -5px;
  margin: 0 20px;
  display: inline-block;
}

.subject-buttons {
  margin-left: 0px;
  button {
    margin-left: 0px;
  }

  .subject-form-container {
    form {
      display: inline-block;

      label {
        color: black;

        input[type="text"]{
          margin: 0 20px;
          border-bottom: 1px solid $darker-background;
        }
      }

    }
  }

}
